.app {
  text-align: center;
}

.app-body {
  padding: 20px;
  margin: 0 auto;
}

.text-alnLeft {
  text-align: left;
}

.vr {
  margin-bottom: 10px;
}

.vr_x2 {
  margin-bottom: 20px;
}

.vr_x3 {
  margin-bottom: 30px;
}

.vr_x4 {
  margin-bottom: 40px;
}
